<div class="container">
  <h1>Edit your countdown</h1>

  <%= render "form", countdown: @countdown %>

  <br>

  <div>
    <%= link_to "Show this countdown", @countdown, class: "new-style" %> 
    <%= link_to "Back to countdowns", countdowns_path, class: "new-style" %>
  </div>
</div>
